@charset "utf-8";

/* :root {
    --tab-width: 64%;
} */

@media screen and (max-width: 1044px) {
    #container {
        width: 100vw;
    }
    #container .head-bar {
        display: none;
    }

    header #head-item {
        width: inherit;
    }
    header #head-item nav#above-menu {
        width: min(72.5vw, 672px);
        /* width: 685px; */
    }
    /* nav#above-menu ul li:nth-child(1) {
        width: 88px;
    }
    nav#above-menu ul li:nth-child(2) {
        width: 107px;
    }
    nav#above-menu ul li:nth-child(3) {
        width: 107px;
    }
    nav#above-menu ul li:nth-child(4) {
        width: 105px;
    } */
    /* nav#above-menu ul li a {
        position: relative;
    } */
    nav#above-menu ul li:nth-child(1) a::before {
        top: 8px;
        left: 12px;
    }
    nav#above-menu ul li:nth-child(2) a::before {
        top: 8px;
        left: 12px;
    }
    nav#above-menu ul li:nth-child(3) a::before {
        top: 8px;
        left: 12px;
    }
    nav#above-menu ul li:nth-child(4) a::before {
        top: 8px;
        left: 12px;
    }
    nav#above-menu ul li:nth-child(4) {
        border-right: 1px solid;
    }
    nav#above-menu ul li a p {
        font-size: 11px;
        bottom: 39px; /* 自フォント(11px*2)+兄弟フォント9px+空間+8px */
    }
    nav#above-menu ul li:nth-child(1) a p {
        left: 42px; /* 元より-35px */
    }
    nav#above-menu ul li:nth-child(2) a p {
        left: 45px; /* 元より-20px */
    }
    nav#above-menu ul li:nth-child(3) a p {
        left: 45px; /* 元より-18px */
    }
    nav#above-menu ul li:nth-child(4) a p {
        left: 41px; /* 元より-18px */
    }
    nav#above-menu ul li a pre {
        font-family: 'メイリオ';
        font-size: 9px;
        bottom: 8px; /* 下空間 */
    }
    nav#above-menu ul li:nth-child(1) a pre {
        left: 43px; /* 結局測った */
    }
    nav#above-menu ul li:nth-child(2) a pre {
        left: 48px; /* 結局測った */
    }
    nav#above-menu ul li:nth-child(3) a pre {
        left: 48px; /* 結局測った */
    }
    nav#above-menu ul li:nth-child(4) a pre {
        left: 48px; /* 結局測った */
    }

    header .head-slide .top-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/main.jpg);
        width: 100%;
    }


    main {
        width: inherit;
        margin: 0 29px 0 29px;
    }
    aside a .side-banner {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    aside ul#square-banner {
        width: 25vw;
        height: 25vw;
    }
    aside ul#square-banner li a {
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        width: 45%;
        height: 45%;
    }

    section .sec-title {
        /* height: 30px; */
        font-size: 16px;
        line-height: 30px;
    }
    article.text-area {
        /* height: 380px; */
        margin-bottom: 14px;
        padding: 15px;
    }
    article.text-area p.article-title {
        font-size: 16px;
    }    
    article.text-area p.article-text {
        font-size: 12px;
        height: 75px;
        overflow: hidden;
    }          
    section a .main-banner {
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    section article.flex-area {
        width: initial;
        height: 352px;
    }
    article.flex-area div {
        height: 98px;
        overflow: hidden;
    }
    article.flex-area div p.flex-title {
        font-size: 11px;
    }
    article.flex-area div p.flex-text {
        font-size: 11px;
    }

    footer {
        height: initial;
    }
    footer .foot-banner {
        height: 95px;
    }
    footer .foot-banner a .banner-img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 64%;
        height: 64%;
    }
    footer nav#foot-menu {
        height: 62px;
    }
    nav#foot-menu ul li {
        margin-left: 283px; /* 768-(166*0.73*4) */
        margin-right: 35px; /* それとなく測った */
    }
    nav#foot-menu ul li a {
        transform: scale(0.73);
    }
    footer .copyright {
        height: 29px;
        font-size: 7px;
    }          
}
