@charset "utf-8";

@media screen and (max-width: 959px) {
    #container {
        width: 100vw;
    }
    #container .head-bar {
        display: none;
    }

    header #head-item {
        width: inherit;
        height: 78px;
    }
    header #head-item .head-logo {
        background-size: contain;
        background-repeat: no-repeat;
        width: 22%;
        /* 125:70=78:x x=42.68 */
        height: 62%;
        margin: 2% 0 0 2%;
    }
    nav#above-menu ul li a {
        bottom: 14px;
    }
    header #head-item nav#above-menu ul li a::before {
        top: 45%;
        left: 20%;
    }
    header #head-item nav#above-menu ul li a p {
        left: 45%;
        bottom: 10px;
        font-size: clamp(0.625rem, 0.219rem + 0.99vw, 0.813rem);
        width: 65%;
    }
    header nav#above-menu {
        margin-top: 2%;
    }
    nav#above-menu ul li a pre {
        font-size: clamp(0.438rem, 0.032rem + 0.99vw, 0.625rem);
        /* bottom: 31px; */
    }
    nav#above-menu ul li:nth-child(1) a pre {
        left: 58px;
        width: calc(100% - 58px);
    }
    nav#above-menu ul li:nth-child(2) a pre {
        left: 63px;
        width: calc(100% - 63px);
    }
    nav#above-menu ul li:nth-child(3) a pre {
        left: 63px;
        width: calc(100% - 63px);
    }
    nav#above-menu ul li:nth-child(4) a pre {
        left: 63px;
        width: calc(100% - 63px);
    }

    header .head-slide .top-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/main.jpg);
        width: 100%;
    }


    main {
        margin: 0 3% 0 3%;
    }
    main aside a img {
        /* background-size: contain;
        background-position: center;
        background-repeat: no-repeat; */
        width: 100%;
    }

    aside ul#square-banner {
        width: 32vw;
        height: 32vw;
    }
    aside ul#square-banner li {
        width: 46.5%;
        /* height: 45%; */
        margin: 1.6%;
    }
    ul#square-banner li a img {
        /* background-size: contain;
        background-repeat: no-repeat; */
        height: 96%;
    }
    
    section .sec-title {
        /* height: 30px; */
        font-size: 1rem;
        /* font-size: clamp(1rem, 0.8rem + 0.75vw, 1.25rem); */
        line-height: 30px;
    }
    section article.text-area {
        /* height: 380px; */
        margin-bottom: 2%;
        padding: 15px;
    }
    article.text-area p.article-title {
        font-size: 1rem;
    }
    article.text-area p.article-text {
        font-size: clamp(0.625rem, 0.219rem + 0.99vw, 0.813rem);
    }

    main section a img {
        /* background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat; */
        width: 100%;
        margin-bottom: 2%;
    }

    section article.flex-area {
        width: initial;
        /* height: 352px; */
        margin-bottom: 2.2%;
    }

    footer {
        height: initial;
    }
    footer .foot-banner {
        height: 95px;
        /* 125:24=95:x */
        padding: 18px;
    }
    footer .foot-banner a {
        text-align: center;
    }
    footer .foot-banner a img {
        /* background-size: contain;
        background-position: center;
        background-repeat: no-repeat; */
        width: 90%;
        height: 90%;
    }
    footer nav#foot-menu {
        height: 62px;
    }
    nav#foot-menu ul li {
        /* (62-30)/2 */
        top: 16px;
    }
    nav#foot-menu ul li a p {
        font-size: clamp(0.625rem, 0.219rem + 0.99vw, 0.813rem);
    }
    #container footer nav#foot-menu ul li a pre {
        left: 42px;
        width: calc(100% - 42px);
        font-size: clamp(0.438rem, 0.032rem + 0.99vw, 0.625rem);
    }
    #container footer nav#foot-menu ul li:nth-child(1) a pre {
        left: 36px;
        width: calc(100% - 36px);
    }
    
    footer .copyright {
        height: 29px;
    }
    footer .copyright p {
        line-height: 29px;
    }         
}
