@charset "utf-8";

/* :root {
    --tab-width: 64%;
} */

@media screen and (max-width: 1044px) {
    #container .head-bar {
        display: none;
    }

    header {
        width: inherit;
    }
    header #head-item nav#above-menu {
        /* width: min(70vw, 685px); */
        width: 685px;
    }
    nav#above-menu a {
        position: relative;
    }
    nav#above-menu a:nth-child(1) {
        width: 88px;
    }
    nav#above-menu a:nth-child(2) {
        width: 107px;
    }
    nav#above-menu a:nth-child(3) {
        width: 107px;
    }
    nav#above-menu a:nth-child(4) {
        width: 105px;
    }
    nav#above-menu a:nth-child(1):before {
        top: 8px;
        left: 12px; /* 元より-35px */
    }
    nav#above-menu a:nth-child(2):before {
        top: 8px;
        left: 12px; /* 元より-20px */ 
    }
    nav#above-menu a:nth-child(3):before {
        top: 8px;
        left: 12px; /* 元より-18px */
    }
    nav#above-menu a:nth-child(4):before {
        top: 8px;
        left: 12px; /* 元より-20px */
    }
    nav#above-menu a:nth-child(4) {
        border-right: 1px solid;
    }
    nav#above-menu a p {
        font-size: 11px;
    }
    nav#above-menu a:nth-child(1) p {
        bottom: 39px; /* 自フォント(11px*2)+兄弟フォント9px+空間+8px */
        left: 42px; /* 元より-35px */
    }
    nav#above-menu a:nth-child(2) p {
        bottom: 39px; /* 自フォント(11px*2)+兄弟フォント9px+空間+8px */
        left: 45px; /* 元より-20px */
    }
    nav#above-menu a:nth-child(3) p {
        bottom: 39px; /* 自フォント(11px*2)+兄弟フォント9px+空間+8px */
        left: 45px; /* 元より-18px */
    }
    nav#above-menu a:nth-child(4) p {
        bottom: 39px; /* 自フォント(11px*2)+兄弟フォント9px+空間+8px */
        left: 41px; /* 元より-18px */
    }
    nav#above-menu a span {
        font-family: 'メイリオ';
        font-size: 9px;
        position: absolute; /* なぜか-50pxを補正 */
        bottom: 8px; /* 下空間 */
    }
    nav#above-menu a:nth-child(1) span {
        left: 43px; /* 結局測った */
    }
    nav#above-menu a:nth-child(2) span {
        left: 48px; /* 結局測った */
    }
    nav#above-menu a:nth-child(3) span {
        left: 48px; /* 結局測った */
    }
    nav#above-menu a:nth-child(4) span {
        left: 48px; /* 結局測った */
    }
    header .head-slide .top-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/main.jpg);
        width: 100%;
    }

    main {
        width: inherit;
        margin: 0 29px 0 29px;
    }
    main nav {
        width: 30vw;
    }
    nav a .side-banner {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    nav .square-banner {
        width: inherit;
        height: 30vw;
        flex-direction: row;
    }
    .square-banner a {
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
        width: 45%;
        height: 45%;
    }
    /* .square-banner a div:nth-child(2) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 64%;
    }
    .square-banner a div:nth-child(3) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 64%;
    }
    .square-banner a div:nth-child(4) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 64%;
    } */

    section {
        width: 60vw;
        /* margin-left: 10vw; */
    }
    section .sec-title {
        height: 30px;
        font-size: 16px;
        line-height: 30px;
    }
    article.text-area {
        height: 380px;
        margin-bottom: 14px;
        padding: 15px;
    }
    article.text-area p.article-title {
        font-size: 16px;
    }    
    article.text-area p.article-text {
        font-size: 12px;
        height: 75px;
        overflow: hidden;
    }          
    section a .main-banner {
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 100%;
        /* margin-bottom: initial; */
    }
    section article.flex-area {
        width: initial;
        height: 352px;
    }
    article.flex-area div {
        height: 98px;
        overflow: hidden;
    }
    article.flex-area div p.flex-title {
        font-size: 11px;
    }
    article.flex-area div p.flex-text {
        font-size: 11px;
    }

    footer {
        height: initial;
    }
    footer .foot-banner {
        height: 95px;
    }
    footer .foot-banner a .banner-img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 64%;
        height: 64%;
    }
    footer nav#foot-menu {
        height: 62px;
    }
    nav#foot-menu .white-menu {
        margin-left: 283px; /* 768-(166*0.73*4) */
        margin-right: 35px; /* それとなく測った */
    }
    nav#foot-menu .white-menu a {
        transform: scale(0.73);
    }
    footer .copyright {
        height: 29px;
        font-size: 7px;
    }          
}
